<div class="reviews_wrapper">
<h1 class="directive" id="profile_name"><%= @user.name %></h1>
<% if @user.id == session[:user_id] %>
<div class="full_width_wrapper">
<%= button_to "Edit My Profile", edit_user_path(@user), method: :get, class: 'nav_elements', id: "edit_profile_button" %> </div>
<% end %>
<br><br>

  <% @user.reviews.each do |review| %>
    <section class="review-content">
      <section class="user_profile_title"><%= link_to review.title, review %></section>
      <hr class="divider" />
      <section class="user_profile_monospace_headings"><%= link_to review.restaurant_name, review.restaurant %></h4>
    </section>

    <div class="full_width_wrapper">
      <section class="review-text">
        <%= review.content.truncate(600, separator: ' ') %>
    </section>
  </div>
  <div class="full_width_wrapper">
    <section class="ratings">
      <% review.ratings_hash.each do |k, v| %>
        <div class='<%= k.downcase %>-rating'>
          <% v.times do |n| %>
            <i class="fa fa-star"></i>
          <% end %>
          <% (5-v).times do |n| %>
            <i class="fa fa-star-o"></i>
          <% end %>
          <%= k %>
        </div>
      <% end %>
    </section>
  </div>
  <div class="full_width_wrapper">
    <div class="centerer">
    <%= button_to "Edit this review", edit_review_path(review), method: 'get', class: 'nav_elements submittable user_prof_edit_review' %>
    </div>
  </div>

  </section>
  <% end %>




</div>
