<h3>
<%= link_to "Search Again", root_path%>
</h3>

<h1> Welcome <%= @user.name %>! </h1>
<%= link_to "Edit My Profile", edit_user_path(@user)%>

<p>
  <% @user.reviews.each do |review| %>
  <%= review.restaurant_name %><br><br>
  <%= link_to review.title, review %><br>
  Food Rating: <%= review.food_rating %><br>
  Service Rating: <%= review.service_rating %><br>
  Environment Rating: <%= review.environment_rating %><br>
  <%= review.content %><br>
  <br>
  <%= button_to "Edit this review", edit_review_path(review), method: 'get' %><br>
  <br>
<% end %>
</p>
<br><br>
