<div id="results_container">
<h1 id="did_you_mean">🍕 Searching for <%= "everything" if @search.search.empty? %><%= @search.search %> near <%= @search.location%>...</h1>
<div id="results_inner_container">
  <% @restaurants.each do |restaurant| %>
    <div class="result_card">
      <% if restaurant.is_a?(Restaurant) %>
      <h4><%= link_to restaurant.name, restaurant %></h4>
      <p>
        <% restaurant.address.split("~").each do |address_line| %>
        <%= address_line %><br />
        <% end %>
      </p>
    <% else %>
      <h4><%= link_to restaurant["name"], new_restaurant_path(address: restaurant["location"]["formattedAddress"], name: restaurant["name"], foursquare_id: restaurant["id"]), method: 'post' %></h4>
      <p>
        <% restaurant["location"]["formattedAddress"].each do |address_line| %>
        <%= address_line %><br />
        <% end %>
      </p>
    <% end %>
    </div>
  <% end %>
  </div>
</div>
