<h3>
  <%= link_to "Search Again", root_path%>
</h3>

<h3>
  Hi <%= link_to @user.name, user_path(@user)%>!
</h3>

<h1>Write a New Review</h1>
<h2>
      for: <%= link_to @restaurant.name, restaurant_path(@restaurant)%>
</h2>
<h4>
      at: <%= @restaurant.spaced_address %>
</h4>
<%= form_for @review do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
  <br>
    <%= f.label :content %>
    <%= f.text_area :content %>
  <br>
    <%= f.label :food_rating %>
    <%= f.select :food_rating, options_for_select( (1..5).to_a, 5)%>
  <br>
  <%= f.label :environment_rating %>
  <%= f.select :environment_rating, options_for_select( (1..5).to_a, 5)%>
  <br>
    <%= f.label :service_rating %>
    <%= f.select :service_rating, options_for_select( (1..5).to_a, 5)%>
  <br>
    <%= f.hidden_field :user_id, value: @user.id%>
    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
    <%= f.hidden_field :foursquare_id, value: @restaurant.foursquare_id %>
    <%= f.submit %><br>
<% end %>
