<h3>
  <%= link_to "Search Again", root_path%>
</h3>

    <h1>
          Restaurant: <%= link_to @review.restaurant.name, restaurant_path(@review.restaurant)%>
    </h1>
  <br>
    <h2>
      Title: <%= @review.title %>
    </h2>
  <br>
    <h3>
    Review by: <%= link_to @review.user.name, user_path(@review.user)%>
    </h3>
  <br>
    <h4>
    Content: <%= @review.content %>
    </h4>
  <br>

    Food Rating: <%= @review.food_rating %>
  <br>
  Environment Rating: <%= @review.environment_rating %>
  <br>
    Service Rating: <%= @review.service_rating %>

<% if @owned %>
    <%= form_tag edit_review_path, method: 'get' do %>
      <%= submit_tag "Edit this Review" %>
    <% end %>
    <%= form_tag review_path, method: 'delete' do %>
      <%= submit_tag "Delete this Review" %>
    <% end %>
<% end %>
